name: check for chart updates
on: { workflow_dispatch, schedule: [cron: '0 0 * * *'] }
jobs:
  update:
    name: chart version update [${{ matrix.attrs.attr }}]
    strategy:
      fail-fast: false
      matrix:
        attrs:
          - attr: airbyte
            cmd: chart_scan_airbyte
            vfile: ./hex/hex/k8s/helm/airbyte/airbyte.json
          - attr: airflow
            cmd: chart_scan_airflow
            vfile: ./hex/hex/k8s/helm/airflow/airflow.json
          - attr: authentik
            cmd: chart_scan_authentik
            vfile: ./hex/hex/k8s/helm/authentik/authentik.json
          - attr: cert-manager
            cmd: chart_scan_cert-manager
            vfile: ./hex/hex/k8s/helm/cert-manager/cert-manager.json
          - attr: dask
            cmd: chart_scan_dask-kubernetes-operator
            vfile: ./hex/hex/k8s/helm/dask/kubernetes-operator.json
          - attr: external-secrets
            cmd: chart_scan_external-secrets
            vfile: ./hex/hex/k8s/helm/external-secrets/external-secrets.json
          - attr: gitlab-runner
            cmd: chart_scan_gitlab-runner
            vfile: ./hex/hex/k8s/helm/gitlab-runner/gitlab-runner.json
          - attr: jupyterhub
            cmd: chart_scan_jupyterhub
            vfile: ./hex/hex/k8s/helm/jupyterhub/jupyterhub.json
          - attr: loki
            cmd: chart_scan_loki
            vfile: ./hex/hex/k8s/helm/grafana/loki.json
          - attr: mimir
            cmd: chart_scan_mimir
            vfile: ./hex/hex/k8s/helm/grafana/mimir.json
          - attr: nats
            cmd: chart_scan_nats
            vfile: ./hex/hex/k8s/helm/nats/nats.json
          - attr: netbox
            cmd: chart_scan_netbox
            vfile: ./hex/hex/k8s/helm/netbox/netbox.json
          - attr: open-webui
            cmd: chart_scan_open-webui
            vfile: ./hex/hex/k8s/helm/open-webui/open-webui.json
          - attr: otf
            cmd: chart_scan_otf
            vfile: ./hex/hex/k8s/helm/otf/otf.json
          - attr: prefect-server
            cmd: chart_scan_prefect-server
            vfile: ./hex/hex/k8s/helm/prefect/server.json
          - attr: prefect-worker
            cmd: chart_scan_prefect-worker
            vfile: ./hex/hex/k8s/helm/prefect/worker.json
          - attr: kube-prometheus-stack
            cmd: chart_scan_kube-prometheus-stack
            vfile: ./hex/hex/k8s/helm/prometheus/kube-prometheus-stack.json
          - attr: prometheus-adapter
            cmd: chart_scan_prometheus-adapter
            vfile: ./hex/hex/k8s/helm/prometheus/adapter.json
          - attr: prometheus-cloudwatch-exporter
            cmd: chart_scan_prometheus-cloudwatch-exporter
            vfile: ./hex/hex/k8s/helm/prometheus/cloudwatch-exporter.json
          - attr: prometheus-elasticsearch-exporter
            cmd: chart_scan_prometheus-elasticsearch-exporter
            vfile: ./hex/hex/k8s/helm/prometheus/elasticsearch-exporter.json
          - attr: prometheus-mongodb-exporter
            cmd: chart_scan_prometheus-mongodb-exporter
            vfile: ./hex/hex/k8s/helm/prometheus/mongodb-exporter.json
          - attr: prometheus-mysql-exporter
            cmd: chart_scan_prometheus-mysql-exporter
            vfile: ./hex/hex/k8s/helm/prometheus/mysql-exporter.json
          - attr: prometheus-nats-exporter
            cmd: chart_scan_prometheus-nats-exporter
            vfile: ./hex/hex/k8s/helm/prometheus/nats-exporter.json
          - attr: prometheus-postgres-exporter
            cmd: chart_scan_prometheus-postgres-exporter
            vfile: ./hex/hex/k8s/helm/prometheus/postgres-exporter.json
          - attr: prometheus-pushgateway
            cmd: chart_scan_prometheus-pushgateway
            vfile: ./hex/hex/k8s/helm/prometheus/pushgateway.json
          - attr: prometheus-redis-exporter
            cmd: chart_scan_prometheus-redis-exporter
            vfile: ./hex/hex/k8s/helm/prometheus/redis-exporter.json
          - attr: questdb
            cmd: chart_scan_questdb
            vfile: ./hex/hex/k8s/helm/questdb/questdb.json
          - attr: redpanda
            cmd: chart_scan_redpanda
            vfile: ./hex/hex/k8s/helm/redpanda/redpanda.json
          - attr: semaphore
            cmd: chart_scan_semaphore
            vfile: ./hex/hex/k8s/helm/semaphore/semaphore.json
          - attr: tempo
            cmd: chart_scan_tempo
            vfile: ./hex/hex/k8s/helm/grafana/tempo.json
          - attr: traefik
            cmd: chart_scan_traefik
            vfile: ./hex/hex/k8s/helm/traefik/traefik.json
          - attr: trino
            cmd: chart_scan_trino
            vfile: ./hex/hex/k8s/helm/trino/trino.json
          - attr: trino-gateway
            cmd: chart_scan_trino-gateway
            vfile: ./hex/hex/k8s/helm/trino/gateway.json
    runs-on: ubuntu-24.04
    env:
      GITHUB_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
    steps:
      - uses: actions/checkout@v6.0.2
        with:
          persist-credentials: false
      - uses: cachix/install-nix-action@v31
        with:
          extra_nix_config: |
            extra-substituters = https://cache.g7c.us
            extra-trusted-public-keys = cache.g7c.us:dSWpE2B5zK/Fahd7npIQWM4izRnVL+a4LiCAnrjdoFY=
      - run: nix run github:jpetrucciani/nix#${{ matrix.attrs.cmd }} -- -u ${{ matrix.attrs.vfile }}
      - uses: peter-evans/create-pull-request@v8.1.0
        id: pr
        with:
          delete-branch: true
          author: jacobi petrucciani <j@cobi.dev>
          title: '[auto] chart update (${{ matrix.attrs.attr }})'
          commit-message: '[auto] chart update (${{ matrix.attrs.attr }})'
          branch: auto-chart-update-${{ matrix.attrs.attr }}
          token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
      - name: automerge
        if: ${{ steps.pr.outputs.pull-request-number }}
        env:
          PR_URL: ${{ steps.pr.outputs.pull-request-url }}
        run: nix run github:jpetrucciani/nix#github_automerge
