name: check
on: { workflow_dispatch, push: { branches: [main] }, pull_request }
jobs:
  test:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: cachix/install-nix-action@v31
        with:
          install_options: --no-daemon
      - run: |
          nix build .#test
          ./result/bin/test --jobs 1
